* {
  box-sizing: border-box;
}

.list-paket {
  height: 90vh;
  background: linear-gradient(rgba(255, 255, 255, 0.397), rgba(255, 255, 255, 0.397)), url("../images/4853433.jpg") ;
  background-size: cover;
  color: #353b48;
  display: block;
  justify-items: center;
  align-items: center;
  text-align: center;
}
 
.list-paket h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top:47px;
}

.list-paket h3 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 30px;
    color:red;
}

.paket {
  width: 100%;
  margin: auto;
  height: 400px;
}
.column {
  float: left;
  width: 31%;
  padding: 10px;
  height: auto;
  margin-right: 10px;
  margin-left: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.column img {
  max-width: 75%;
  height: 8em;
}


.column p {
  font-size: 15px;
}

.column h2 {
  padding-top: 10px;
  font-size: 40px;
  margin: 0;
}

.column h5 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.column h6 {
  font-size: 27px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
 }
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .list-paket {
    height: 240vh;
  }
  .column {
    width: 100%;
  }
}

.column strong{
    font-size:25px;
    margin:15px;
    margin-bottom: 0;
    font-weight: normal;
    display:inline-block;
}

.harga {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: red;
}

.paketgamer {
  border: 2px solid #353b48;
  border-radius: 1vw;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: #353b48;
  color: #f5f6fa;
  margin-top: 10px;
}

.paketgamer:hover {
  transition: 1s;
  background: none;
  color: #353b48;
}

.paketgamers {
  border: 2px solid #353b48;
  border-radius: 1vw;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: #353b48;
  color: #f5f6fa;
  margin-top: 10px;
  margin-bottom: 20px;
}

.paketgamers:hover {
  transition: 1s;
  background: none;
  color: #353b48;
}

.hanya {
    color:red;
    margin-top: 0;
}

@keyframes fromkiri {
  from {
    left: -30%;
    opacity: 10%;
  }

  to {
    left: 0;
    opacity: 100%;
  }
}

.satu {
    background-color: rgb(53, 59, 72, 0.2);
    animation: fromkiri 3s;
    position: relative;
  }

.dua {
  background-color: rgba(227, 183, 117, 0.203);
  animation: fromkiri 2s;
  position: relative;
}

.tiga {
  background-color: rgba(207, 150, 154, 0.3);
  animation: fromkiri 1s;
  position: relative;
}

.satu:hover {
  transition-duration: 1s;
  transition-delay: 0.2s;
transform: scale(1.1);
background-color: rgba(53, 59, 72, 0.749);
}

.dua:hover {
    transition-duration: 1s;
    transition-delay: 0.2s;
  transform: scale(1.1);
  background-color: rgba(227, 183, 117, 0.604);
}

.tiga:hover {
    transition-duration: 1s;
    transition-delay: 0.2;
  transform: scale(1.1);
  background-color: rgba(207, 150, 154, 0.733);
}
